@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

@layer components {
  .btn-primary {
    @apply bg-[#3b3c8f] text-white; 
    
    @apply rounded-lg shadow-xl;
    
    @apply hover:bg-[#2a2b63] transition-colors duration-200 cursor-pointer;
  }


}