@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

@layer components {
  .btn-primary {
    @apply bg-[#3b3c8f] text-white; 
    
    @apply rounded-lg shadow-xl;
    
    @apply hover:bg-[#2a2b63] transition-colors duration-200 cursor-pointer;
  }

  .add-btn {
    @apply bg-green-100 text-green-600 font-medium; 
    @apply py-2 px-4 rounded-lg;
    @apply shadow-md; 
    @apply transition-colors duration-200;
    @apply hover:bg-green-200; 
    @apply cursor-pointer; 
  }

  .card-btn {
    @apply flex items-center justify-center gap-2;
    @apply px-4 py-2;
    @apply rounded-lg;
    @apply border border-gray-200;
    @apply text-gray-700;
    @apply font-medium;
    @apply bg-white;
    @apply transition-all duration-200 ease-in-out;
    @apply cursor-pointer; 
    @apply hover:bg-purple-50;
    @apply hover:border-purple-300;
    @apply hover:text-purple-800;
    @apply hover:shadow-sm;
  }

}
