# Application properties
spring:
  application:
    name: backend
  profiles:
    active: dev

  flyway:
    enabled: true
    baseline-on-migrate: true

  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 7200 # 2h
    refreshTokenExpiration: 604800 # 7d

server:
  port: 8080

