# Application properties
spring:
  application:
    name: backend
  profiles:
    active: dev

  flyway:
    enabled: true
    baseline-on-migrate: true

  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 7200 # 2h
    refreshTokenExpiration: 604800 # 7d

  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: ${BREVO_USERNAME}
    password: ${BREVO_PASSWORD}
    from: ${BREVO_FROM_EMAIL}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  frotend-url: ${FRONTEND_URL:http://localhost:8080}


server:
  port: 8080
  servlet:
    context-path: /api/v1

